# Global owners — all root-level files
* @ROCm/rocm-tests-admin

# Framework
/conftest.py          @ROCm/rocm-tests-admin
/framework/           @ROCm/rocm-tests-framework
/framework/plugins/   @ROCm/rocm-tests-admin

# CI workflows, build, and scan tooling
/.github/             @ROCm/rocm-tests-admin
/build_tools/         @ROCm/rocm-tests-admin
/scan_tools/          @ROCm/rocm-tests-admin

# Testcases
/tests/               @ROCm/rocm-tests-write
/tests/common/        @ROCm/rocm-tests-framework

# Documents
/docs/                @ROCm/rocm-tests-write
